/**
 * Fix user-agent
 */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**
 * Canvas
 */

#drawing {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
    type: hidden;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}

.size.xs {
    background-color: black;
    border-radius: 80%;
    width: 20px;
    height: 20px;
}

.size.s {
    background-color: black;
    border-radius: 80%;
    width: 25px;
    height: 25px;
}

.size.m {
    background-color: black;
    border-radius: 80%;
    width: 30px;
    height: 30px;
}

.size.l {
    background-color: black;
    border-radius: 80%;
    width: 35px;
    height: 35px;
}

.size.xl {
    background-color: black;
    border-radius: 80%;
    width: 40px;
    height: 40px;
}

.navbar-nav > li {
    padding-left: 3px;
    padding-right: 3px;
}

.messages {
    position: absolute;
    width: 20%;
    height: 85%;
    background-color: lightblue;
    overflow: auto
}

.inputMessage {
    position: absolute;
    bottom: 0;
    width: 20%;
}