* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#drawing {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
    type: hidden;
}

.color.black {
    background-color: black;
    display: none;

}

.color.red {
    background-color: red;
    display: none;
}

.color.green {
    background-color: green;
    display: none;
}

.color.blue {
    background-color: blue;
    display: none;
}

.color.yellow {
    background-color: yellow;
    display: none;
}

.size.xs {
    background-color: black;
    border-radius: 80%;
    width: 20px;
    height: 20px;
    display: none;
}

.size.s {
    background-color: black;
    border-radius: 80%;
    width: 25px;
    height: 25px;
    display: none;
}

.size.m {
    background-color: black;
    border-radius: 80%;
    width: 30px;
    height: 30px;
    display: none;
}

.size.l {
    background-color: black;
    border-radius: 80%;
    width: 35px;
    height: 35px;
    display: none;
}

.size.xl {
    background-color: black;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    display: none;
}

.navbar-nav > li {
    padding-left: 3px;
    padding-right: 3px;
}

.messages {
    position: absolute;
    width: 15%;
    background-color: lightblue;
    overflow: auto;
}

.inputMessage {
    position: absolute;
    bottom: 0;
    width: 15%;
}

.shape.circle {
    background: lightgrey;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;

}

.shape.rectangle {
    background:lightgrey;
    width:50px;
    height:30px;
    display: none;
}

.navbar {
    margin-bottom: 0 !important;
}


/*@media (max-width: 768px) {
    .btn {
        font-size:11px;
        padding:4px 6px;
    }
}

@media (min-width: 768px) {
    .btn {
        font-size:12px;
        padding:6px 12px;
    }
}

@media (min-width: 992px) {
    .btn {
        font-size:14px;
        padding:8px 12px;
    }
}*/
