/**
 * Fix user-agent
 */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**
 * Canvas
 */

#drawing {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.colors {
    position: fixed;
    float: left;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.pen {
    position: fixed;
    top: 50px;
    float: right;
}

.size {
    display: inline-block;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}

.size.one {
    background-color: black;
    border-radius: 80%;
    width: 20px;
    height: 20px;
}

.size.two {
    background-color: black;
    border-radius: 80%;
    width: 25px;
    height: 25px;
}

.size.three {
    background-color: black;
    border-radius: 80%;
    width: 30px;
    height: 30px;
}

.size.four {
    background-color: black;
    border-radius: 80%;
    width: 35px;
    height: 35px;
}

.size.five {
    background-color: black;
    border-radius: 80%;
    width: 40px;
    height: 40px;
}
